body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  overflow-x: hidden;
}
/* Animations */
@keyframes slideinR{
  0%{transform: translateX(-100vw);}
  98%{transform: translateX(0.5vw);}
  100%{transform: translateX(0);}
}
@keyframes slideinL{
  0%{transform: translateX(100vw);}
  98%{transform: translateX(-1vw);}
  100%{transform: translateX(0);}
}
@keyframes slideUp{
  from{transform: translateY(100vh);}
  to{transform: translateY(0);}
}
/* Header + Navbar */
.header {
  width: 100%;
  height: 100vh;
  background-color: grey;
  background-image: url("https://cdn.pixabay.com/photo/2017/05/31/10/23/manor-house-2359884_1280.jpg");
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  color: #fff;
}

.title-heading{
  font-family: 'Luckiest Guy', cursive;
  color: #EEEEEE;
  text-shadow: 4px 4px 6px #7A3E3E;
  transform: translateX(-100vw);
  animation: slideinR 1s ease-in-out forwards;
}
.navbar ul{
  transform: translateX(100vw);
  animation: slideinL 1s ease-in-out forwards;
}

.navbar{
  width:85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li::after{
  content: "";
  height: 3px;
  width: 0;
  background: #47A992;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after{
  width: 100%;
}

.header-text{
  width: 100%;
  position: absolute;
  top:40%;
  text-align: center;
  color: #fff;
  transform: translateY(100vh);
  animation: slideUp 1s 1s ease-in-out forwards;
}


.header-text p{
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
}

/* About Us Section */
.about{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.underline-border{
  width: 160px;
  height: 5px;
  background: #47A992;
  margin: 5px auto 10px auto;
}
.headings{
  text-align: center;
  text-transform: uppercase;
}
.about-par{
  font-size: 20px;
  width: 40%;
  padding: 40px 40px 40px;
  background-color: #e1f7ef;
  border-left: 6px solid #47A992;
  border-bottom: 5px solid #47A992;
  border-radius: 5%;
  transition:1.5s;
}
.about-par:hover{
  box-shadow: -1px 3px 20px #98d5c4;
}
article{
  display: flex;
  gap:10vw;
  align-items: center;
  justify-content: center;
}

/*Our Rooms Section*/
.our-rooms{
  padding: 40px 0;
  text-align: center;
}

.inner{
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  box-sizing:border-box;
  padding: 30px;
}
.room{
  padding: 40px 20px 20px 20px;
  /*background-color: #D2E9E9;*/
  background-color: #e1f7ef;
  border-radius: 5%;
  transition: 1.5s;
}
.room:hover{
  box-shadow: -1px 3px 20px #98d5c4;
}

.name{
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 20px 0;
}

.room-img{
  width:300px;
  height: 200px;
  transition: transform 2s;
  cursor: zoom-in;
}
.room-img:hover{
  transform: scale(2);
}

/*Reviews section*/

.reviews{
  padding: 40px 0;
  text-align: center;
  background: #F1F1F1;
}

.r-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.r-col{
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing:border-box;
  padding: 15px;
}

.review{
  background: #fff;
  padding: 30px;
  border-radius: 5%;
  transition: 1.5s;
}
.review:hover{
  box-shadow: -1px 3px 10px #838383;
}

.review img{
  width: 155px;
  height: 150px;
  border-radius: 50%;
}

.checked {
  color: orange;
}

/*Contact Us Section */
.contact{
  padding: 40px 0;
  background-color: #e1f7ef;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.form-text{
  display: block;
  width: 90%;
  margin: 16px 0;
  border: 0;
  background-color: #fff;
  padding: 20px 30px;
  color: black;
}

textarea.form-text{
  height: 120px;
}

.submit-button{
  float: right;
  border: 0;
  padding: 12px 50px;
  background-color: #fff;
  transition: box-shadow 2s, color 2s;
}

.submit-button:hover{
  box-shadow: inset 0 0 0 2em #47A992;
  color: #fff;
  cursor: pointer;
}
.submit-button:active{
  transform: translate(0,1vh);
}

/*Map*/
.i-map{
  width:100%;
}

/*Footer*/
.footer {
  background-color: #27374D;
  width: 100%;
  margin-top: -20px;
  height: 180px;
  text-align: center;
}
.footer p{
  padding-top: 40px;
  color: #fff;
}
.footer p i{
  font-size: 12px;
  position: relative;
  bottom: 40px;
}
.ficon {
  color: #fff;
  padding: 20px;
  text-decoration: none;
  transition: 1s;
}

.ficon:hover {
    opacity: 0.7;
    transform: scale(1.5);
}
